[alias]
    l = log --pretty=format:\"%C(yellow bold)%h %C(green)%s %C(blue)%cn %C(magenta)<%cr> %C(yellow)%d\"
    la = log --graph --all --pretty=format:\"%C(yellow bold)%h %C(green)%s %C(blue)%cn %C(magenta)<%cr> %C(yellow)%d\"
    s = status -su
    sa = status -u
    d = diff --ignore-space-at-eol
    ds = diff --ignore-space-at-eol --staged
    dh = diff HEAD --ignore-space-at-eol
    a = add
    au = add -u
    aa = add --all
    r = restore --staged
    c = commit
    cm = commit -m
    ca = commit --amend --no-edit
    pl = pull --rebase

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[apply]
    whitespace = fix
